body {
  background: #0d1a26;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App {
  /* text-align: center; */
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 10fr;
  justify-content: center;
  position: relative;
  /* margin-top: -100px; */
  height: 100vh;
  gap: 20px;
  /* border: 1px solid red; */
}

.container {
  display: flex;
  align-items: flex-end;
  transition: ease-in;
  justify-content: center;
  margin: 50px auto;
}
.container div {
  width: 6px;
  border-radius: 4px;
  margin-left: 3px;
}

.nav {
  height: 200px;
  width: 50%;
  margin: auto;
  margin-top: 330px;
  display: flex;
  position: absolute;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  border: 1px solid red;
  align-items: center;
}

.nav button {
  width: 180px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  /* background: #dda0dd; */
}

.arrays {
  display: grid;
  grid-template-columns: 16fr 3.3fr;
  margin-top: 40px;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
.arrays > div {
  height: 430px;
  overflow-y: hidden;
}

.slider {
  /* position: absolute; */
  border: 1px solid red;
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: rotateZ(90deg); */
}
.buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-right: -20px; */
  align-items: center;
  padding: 230px 0px;
  /* border: 1px solid red; */
}

.buttonDiv button {
  width: 165px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
  margin-left: -30px;
}
